html,body{
  height: 100%;
}
html,body,p,h1,h2,h3{
  margin: 0;
  padding: 0;
}
.f_left{
  float: left;
}
.f_right{
  float: right;
}
.flex{
  display: flex;
}
.font-yellow{
  color: rgba(255, 237, 0, 1);
}
.font-origin{
  color:#F5B400;
}
.font-red{
  color:rgba(253, 53, 53, 1);
}
.op5{
  opacity: 0.5;
}
.pdRow40{
  padding: 0px 40px;
}
